# MQTT settings
MQTT_HOST=mqtt.example.com
MQTT_PORT=1883
MQTT_BASETOPIC=sip2mqtt
MQTT_USER=
MQTT_PASS=

# SIP registrar settings
SIP_REGISTRAR_HOST=sip.example.com
SIP_REGISTRAR_PORT=5060
SIP_USER=
SIP_PASS=

# SIP client network settings
SIP_CLIENT_ADDR=<external IP>      # Public IP address to advertise in SIP messages
SIP_CLIENT_PORT=55060              # Port used for incoming SIP traffic
SIP_BIND_ADDR=0.0.0.0              # Local interface to bind for SIP listening
