MQTT_HOST="mqtt.example.com"
MQTT_PORT=1883
MQTT_BASETOPIC="sip2mqtt"
MQTT_USER=""
MQTT_PASS=""

SIP_REGISTRAR_HOST="sip.example.com"
SIP_REGISTRAR_PORT="5060"
SIP_USER=""
SIP_PASS=""

SIP_CLIENT_ADDR="<external IP>"
SIP_CLIENT_PORT=55060
SIP_BIND_ADDR="0.0.0.0"
